body { 
    background-color: #F9F9F9;
}

.container{
    margin-top: 5%;
    max-width: 400px;
}

.title-container {
    width: 400px;
    min-height: 25vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
